<h1>安安你好請登入</h1>

<%= form_for(@user, url: login_users_path) do |f| %>
  <div>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password, "密碼" %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "登入" %>
  </div>
<% end %>